.admin-settings{
    ul{
      
      

       li{
            padding: 20px;
            cursor: pointer;
            display: flex;
            border-bottom:1px solid #fff ;
            transition: ease-in-out 2ms;
           
            svg{
                font-size: 20px;
                margin-right: 10px;
            }
        }
        
    }
   
}


.nav{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    input{
        width: 50%;
        border: 1px solid crimson;
        border-radius: 5px;
        background: transparent;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
    }
   
    
}
