.slider_main {
  overflow: hidden;
  position: relative;

  .slick-slide img {
    display: block;
    margin-bottom: 60px !important;
   
  }

  .slick-arrow {
    position: absolute;
    top: 47%;
    width: 60px !important;
    height: 60px !important;
    border-radius: 50% !important;
    background-color: #f2f2f2;

    transition: all 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .slick-next {
    right: 2% !important;
  }
  .slick-prev {
    left: 2% !important;
    z-index: 1 !important;
  }
  .slick-prev:before {
    content: "\f104" !important;
    font-family: FontAwesome !important;
    font-size: 30px;
    color: black;
  }
  .slick-next:before {
    content: "\f105" !important;
    font-family: FontAwesome !important;
    font-size: 30px;
    color: black;
    z-index: 1000 !important;
  }
  .slick-prev:hover {
    background-color: #4d2db7 !important;
  }
  .slick-next:hover {
    background-color: #4d2db7 !important;
  }
  .slick-arrow:hover::before {
    color: #fff !important;
  }

  .slick-dots {
    position: absolute;
    bottom: 44px !important;
  }

  .slick-dots button {
    &::before {
      font-size: 6px;
      text-align: center;
      color: transparent;
      border: 1px solid black;
      border-radius: 50%;
      height: 10px;
      width: 10px;
      line-height: 10px;
    }
  }
}

@media (max-width: 668px) {


  .slider_main {
    overflow: hidden;
    position: relative;
   
    .slick-slide img {
      display: block;
      margin-bottom: 60px !important;
     
    }





    .slick-arrow {
      position: absolute;
      top: 34%;
      width: 20px !important;
      height: 20px !important;
      border-radius: 50% !important;
      background-color: #f2f2f2;

      transition: all 0.2s ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .slick-next {
      right: 2% !important;
    }
    .slick-prev {
      left: 2% !important;
      z-index: 1 !important;
    }
    .slick-prev:before {
      content: "\f104" !important;
      font-family: FontAwesome !important;
      font-size: 15px;
      color: black;
    }
    .slick-next:before {
      content: "\f105" !important;
      font-family: FontAwesome !important;
      font-size: 15px;
      color: black;
    }
    .slick-prev:hover {
      background-color: #00cdb8 !important;
    }
    .slick-next:hover {
      background-color: #00cdb8 !important;
    }
    .slick-arrow:hover::before {
      color: #fff !important;
    }
    .slick-dots {
      position: absolute;
      bottom: 44px !important;
    }

    .slick-dots button {
      &::before {
        font-size: 6px;
        text-align: center;
        color: transparent;
        border: 1px solid black;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        line-height: 10px;
      }
    }

    &:not(.slick-active)::before {
      background-color: transparent;
    }

    &.slick-active::before {
      background-color: #00cdb8;
      color: white;
    }
  }
}
